@import url('https://fonts.googleapis.com/css?family=Monoton');


body {
  background-color: whitesmoke;
}

.container {
  padding-top: 60px;
  filter: drop-shadow(16px 16px 20px gold);
}

#box-1 {
  border: 2px solid black;
}

#box-2 {
  border: 2px solid black;
}

#box-3 {
  border: 2px solid black;
}

#box-4 {
  border: 2px solid black;
}

#box-5 {
  border: 2px solid black;
}

#box-6 {
  border: 2px solid black;
}

#box-7 {
  border: 2px solid black;
}

#box-8 {
  border: 2px solid black;
}

footer {
  
}
